@import "~bootstrap/scss/bootstrap";

.navbar {
    margin-bottom: 2em;
}
.btn {
    margin: 0.5em;
}
/*
html,body,#root {
    height: 100%;
    margin: 0;
}
.center-area {
    height: 100%;
    margin: 0;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
}
*/

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
     font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.trust-text {
    color: green;
}
.untrust-text {
    color: red;
}
.doubt-text {
    color: orange;
}

.main-card {
    width: 18rem;
}